/* fix to include padding and border in the total width for each element */
* {
  box-sizing: border-box;
}

/* fix for responsive images */
img {
  max-width: 100%;
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
  background-color: #ffffff;
  height: 100%;
}

/* fonts */
h1 {
  font-family: 'Playfair Display', serif;
  color: #fff;
}

h2 {
  font-family: 'Lora', serif;
}

h3 {
  font-family: 'Crimson Text', serif;
}
/*--------------------------------------------------*/

.homepage {
  background-image: url("../img/background-img.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.homepage h2 {
  position: absolute;
  top: 70%;
  left: 40%;
  right: 0;
  font-size: 42px;
  color: #fff;
  background: rgba(0, 0, 0, 0.7);
  width: 60%;
  padding: 2px 15px;
}

header {
  top: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: absolute;
  z-index: 30;
}

.company-logo {
  width: 10%;
  padding: 15px;
}

.company-logo img {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.company-name {
  width: 37%;
  padding-top: 13px;
}

nav {
  top: 0;
  right: 0;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 65%;
  padding-top: 13px;
}

.nav-link {
  padding: 38px 30px 0 30px;
}

a {
  text-decoration: none;
}

a:link {
  color: #ffffff;
}

nav a:visited {
  color: #e5e5e5;
}

footer a:visited {
  color: #888
}

nav a:hover {
  color: #0D3299;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  background: rgba(0, 0, 0, 0.7);
}

footer a:hover {
  color: #910F23;
}

a:active {
  color: #D7D2C3;
}

.about-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.about-container h3 {
  font-size: 30px;
}

.about-wrap {
  width: 45%;
  padding: 20px;
}

.about-wrap img {
  margin: 45px 50px 30px 85px;
}

#statistics {
  background-color: #050e26;
  color: #ffffff;
  text-align: center;
}

section li {
  display: inline-block;
  margin: 30px;
  padding: 20px;
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  font-family: 'Lora', serif;
}

.service-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 20px;
}

.service-wrap {
  width: 38%;
  text-align: center;
  padding-bottom: 20px;
}

.projects-container h3 {
  text-align: center;
  font-size: 30px;
}

.values-container {
  padding-top: 20px;
  text-align: center;
  height: 100%;
  background-color: #e5e5e5;
}

.values-wrap {
  padding-bottom: 20px;
  padding-left: 50px;
  padding-right: 50px;
}

footer {
  background-color: #000;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer-wrap {
  width: 30%;
  text-align: center;
}

footer ul {
  margin-top: 5em;
  margin-bottom: 5em;
  padding: 0;
  list-style-type: none;
}

#copyright {
  margin-top: 22em;
  color: grey;
  font-size: 10px;
}
