
/* ==========================================================================
   Base styles:
   ========================================================================== */
/* Fix to include padding and border in the total width for each element */
* {
  box-sizing: border-box;
}

/* Fix for responsive images */
img {
  max-width: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
  background-color: #ffffff;
}

h1 {
  font-family: 'Playfair Display', serif;
  color: #fff;
}

h2 {
  font-family: 'Lora', serif;
}

h3 {
  font-family: 'Crimson Text', serif;
}

.homepage-img {
  position: relative;
}

/* border is not showing */
.header-wrap {
  border: 0 0 2px 0 solid red;
}

header {
  top: 0;
  display: flex;
  justify-content: flex-start;
  position: absolute;
}

/* flex not working */
nav {
  top: 0;
  position: absolute;
  text-transform: uppercase;
  display: flex;
  justify-content: flex-end;
}

.nav-link {
  padding: 10px 20px;
  width: 70%;
}

nav a {
  text-decoration: none;
}

nav a:link {
  color: #ffffff;
}

nav a:visited {
  color: #888
}

nav a:hover {
/*  color: #720C1C;*/
  color: #910F23;
}

nav a:active {
  color: #D7D2C3;
}

.about-container {
  display: flex;
  justify-content: space-around;
}

.about-wrap {
  width: 45%;
}

#statistics {
  background-color: #050e26;
  color: #ffffff;
  text-align: center;
}

section li {
  display: inline-block;
  margin: 40px;
  padding: 20px;
  text-decoration: none;
  color: #888;
}

.service-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.service-wrap {
  width: 38%;
  text-align: center;
}

